body{
    background: #2D2D2D;
    box-shadow: inset 0px 30px 50px rgba(0, 0, 0, 0.3);
}

/*titulo*/
.titulo-cata{
    color: black;
    text-align: center;
    padding: 10px;
    margin: 2rem auto;
    background: #D9D9D9;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.6);
    border-radius: 10px;

}

.contenedor-titulo{
    text-align: center;
}

/*cartas*/
.card_catalogo{
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);
    border-radius: 25px;
    display: flex;
    justify-content: center;
    margin: 0rem 3rem;
    margin: 20px auto;
}

.card{
    width: 18rem;
    margin: 1rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background: #D9D9D9;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
}

.card a{
    color:black;
    text-decoration:none;
}


.card-img{
    margin: 1rem;
    max-width:  15rem;
    max-height: 12rem;
}

/*botones*/
.botones{
    display: flex;
    justify-content: center;
    margin: .5rem;
}

.btn-cata{
    background-color: #3788AA;
    border-color: #3788AA;
    margin: 0.1rem;
}

/*footer*/
.footer{
    text-align: center;
    background: #202020;
    box-shadow: inset 0px 10px 50px 5px rgba(0, 0, 0, 0.6);

}

.titulo-foot{
    color: #3788AA;
}

.abajo{
    display: flex;
    flex-direction: row;
    color: #FFFFFF;
    justify-content: space-around;
}

.donde-encotrarnos{
    height: auto;
    width: 450px;
}

.quienes-somos{
    height: auto;
    width: 450px;
    text-align: center;
}

.contactos{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 450px;
    margin-bottom: 1rem;
}

.img-icon{
margin: .5rem;
}

.contactos a{
    color: #FFFFFF;
    text-decoration:none;
}

.section-carrusel{
    background-image: url('../img/bmw-m3-gtr\ -\ wallpaper.jpg');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    display: flex;
    align-items: center;
    
}

.justify-content-center{
    justify-content: center;
}

.centrar{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;

}
.size-carrucel{
    width: 80%;
    max-width: 1000px;
}

.size-img-carrucel{
    max-width: 100%;
    max-height: 100%;
    box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.6);
    border-radius: 25px;
}

/*descripcion vehiculos*/

.fondo-desc{
    background-color: #454545;
    color: white;
    text-align: center;
    margin: 3rem;
    border-radius: 25px;
}

.precio-desc{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #3788AA;
}
/*formulario vehiculo*/
.formulario{
margin: 1rem 5rem;
display: flex;
flex-direction: row;
justify-content: space-around;
color: #f0f0f0;
}


.formulario-img{
    flex-direction: column;
    display: flex;

}

.img-veh{
    max-width: 30rem;
    max-height: 30rem;
    margin: .5rem auto;
    border-radius: 25px;
}

.form-text{
    color: #FFFFFF;
}

.encabezado-form{
    text-align: center;
}

.color-h4{
    color: #3788AA;
}

.btn-cotizar{
    display: flex;
    justify-content: center;
}

/* Styles for navbar */

.logo-icon{
    width: 40px;
}

.logo-login{
    width: 30px;
}

@media (width <= 992px){
    .line-user{
        display: none;
    }
}

/*nosotros */

.fondo-noso{
    background-color: #454545;
    color: white;
    text-align: center;
    margin: 3rem;
    border-radius: 25px;
}

.fondo-preguntas{
    text-align: center;
    background-color: #FFFFFF;
    margin: 0 15rem;
    color: black;
    border-radius: 25px;
}

.fondo-examples{
    text-align: center;
    background-color: #FFFFFF;
    color: black;
    border-radius: 5px;
    margin: 4rem 10rem;
}